# Ignore virtual environment directories
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Cache files / Builds / DLL's
__pycache__/
*.pyd
build/

# Ignore VSCode settings
.vscode/

# Additional custom directories or files can be added here, if it will be needed in future development.